.modularized__outcomes-container {
	width: 100%;
	padding: 0px 3px;
	background-color: $event-group-event-background-color;
	@include clearfix;

	&.inactive {
		display: none;
	}

	&.active {
		display: block;
	}

	.outcomes-container__title {
		font-size: $font-size-micro;
		font-weight: bold;
		display: block;
		text-align: center;
		padding-bottom: 5px;
		padding-left: 6px;
		color: $outcomes-column-header-text-color;
	}


	.modularized__column-left, .modularized__column-right, .modularized__column-middle {
		float: left;
		min-height: 1px;

		.label {
			color: $outcomes-column-item-text-color;
		}
	}
	// Variations
	@import './three-columns';
}


@import './outcome';
