%outcome-button-icon-odds-common {
	font-size: 24px;
	position: absolute;
	@include text-shadow(none);

	@include max-screen($outcome-button-layout-breakpoint - 1) {
		left: -10px;
		right: -10px;
		text-align: center;
		&.up {
			top: -10px;
		}
		&.down {
			bottom: -8px;
		}
		.outcome.odds-format-american & {
			left: -4px;
		}
	}

	@include min-screen($outcome-button-layout-breakpoint) {
		left: -4px;
		top: 0px;
	}

	@include min-screen($event-groups-layout-breakpoint) {
		.event-item__betoffers & {
			left: -10px;
			right: -10px;
			text-align: center;
			&.up {
				top: -10px;
				bottom: auto;
			}
			&.down {
				bottom: -8px;
				top: auto;
			}

		}
		.event-item__betoffers .outcome.odds-format-american & {
			left: -4px;
		}
	}
}

%outcome-button-suspended-common {
	background: $outcome-inactive-background-color;
	color: $outcome-inactive-label-text-color;
	cursor: default;

	@include mouse-hover-style {
		background: $outcome-inactive-background-color;
		color: $outcome-inactive-label-text-color;
	}
	@include mouse-down-style {
		background: $outcome-inactive-background-color;
		color: $outcome-inactive-label-text-color;
	}

	.modularized__outcome-label, .modularized__outcome-line, .modularized__outcome-label-wrapper {
		color: $outcome-inactive-odds-text-color;
		text-shadow: none;
	}
}

.modularized__outcome {
	height: 30px;
	width: 100%;
	position: relative;
	vertical-align: top;
	font-family: $font-family-narrow;
	background: $outcome-background-color;
	margin: $outcome-margin;
	padding: 0;
	border: none;
	@include transition("background-color 0.2s ease-out, color 0.2s ease-out");

	@include mouse-hover-style {
		background: $outcome-background-hover-color;

	}
	@include mouse-down-style {
		background: $outcome-background-active-color;

	}

	//in webkit move the text 1px down
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		padding: 1px 0 0;
	}

	.modularized__outcome-label, .modularized__outcome-line, .modularized__outcome-odds {
		font-size: $font-size-milli;
		font-weight: 400;
		line-height: 24px;
		margin: 0;
		color: $outcome-label-text-color;
	}

	.modularized__outcome-label.center {
		text-align: center;
		padding-right: 5px;
	}

	$oddsMarginRight: 6px;

	&.no-label .modularized__outcome-odds{
		display: inline;
		position: relative;
	}

	.modularized__outcome-odds {
		margin: 0px;
		text-align: right;
		position: absolute;
		right: 5px;
		display: inline-block;
		color: $outcome-odds-text-color;
		text-shadow: $outcome-odds-text-shadow;
		font-weight:bold;

		&.up {
			@include icon-content($icon-odds-up) {
				color: $outcome-odds-up-icon-text-color;
				@extend %outcome-button-icon-odds-common;
			}
			&.trend {
				@include icon-content($icon-odds-up) {
					color: $outcome-odds-trend-icon-text-color;
					@extend %outcome-button-icon-odds-common;
				}
			}
		}

		&.down {
			@include icon-content($icon-odds-down) {
				color: $outcome-odds-down-icon-text-color;
				@extend %outcome-button-icon-odds-common;
			}
			&.trend {
				@include icon-content($icon-odds-down) {
					color: $outcome-odds-trend-icon-text-color;
					@extend %outcome-button-icon-odds-common;
				}
			}
		}
	}


	.modularized__outcome-label-wrapper {
		display: inline-block;
		float: left;
		max-width: 100%;
		overflow: hidden;
		position: relative;
		text-overflow: ellipsis;
		color: $outcome-label-text-color;
		text-shadow: $outcome-label-text-shadow;
	}

	.modularized__outcome-label {
		padding-left: 5px;
		float: left;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
		white-space: nowrap;
		width: 100%;
		color: $outcome-label-text-color;
		text-shadow: $outcome-label-text-shadow;
	}

	.modularized__outcome-line {
		position: absolute;
		right: 6px;
		top: 0px;
		color: $outcome-label-text-color;

	}

	&:last-child {
		margin-right:1px;
	}

	@mixin outcome-label-spacing ($charCount) {
		$charWidth: 6; //width of single char in outcome odds
		$extraPadding: 4px;
		$oddsChangeArrowsWidth: 15px;
		$spacing: ($charWidth * $charCount) + $oddsMarginRight + $extraPadding;
		$spacingWithOddsChangeArrows: $spacing + $oddsChangeArrowsWidth;

		padding-right: $spacing;

		&.odds-change {
			padding-right: $spacingWithOddsChangeArrows;
			@include max-screen($outcome-button-layout-breakpoint - 1) {
				padding-right: $spacing;
			}

			@include min-screen($event-groups-layout-breakpoint) {
				.event-item__betoffers & {
					padding-right: $spacing;
				}
			}

			.modularized__outcome-odds {
				padding-left: $oddsChangeArrowsWidth;

				@include max-screen($outcome-button-layout-breakpoint - 1) {
					padding-left: 0;
				}
				@include min-screen($event-groups-layout-breakpoint) {
					.event-item__betoffers & {
						padding-left: 0;
					}
				}
			}
		}
	}

	@mixin outcome-line-spacing ($charCount) {
		$charWidth: 6; //width of single char in outcome odds
		$extraPadding: 4px;
		$spacing: ($charWidth * $charCount) + $extraPadding;
		padding-right: $spacing;
	}


	@for $i from 1 through 16 {
		&.odds-length-#{$i} {
			@include outcome-label-spacing($i);
		}
	}

	@for $j from 1 through 16 {
		.modularized_-line-length-#{$j} {
			@include outcome-line-spacing($j);
		}
	}

	&.disabled-placeholder {
		visibility: hidden;
	}

	&.disabled-hidden {
		display:none;
	}

	&.highlighted {
		background: $outcome-highlighted-background-color;

		@include mouse-hover-style {
			background: $outcome-highlighted-background-hover-color;

		}
		@include mouse-down-style {
			background: $outcome-highlighted-background-active-color;
		}

		.modularized__outcome-odds {
			color: $outcome-highlighted-odds-text-color;
			text-shadow: none;
		}

		.modularized__outcome-label,
		.modularized__outcome-line,
		.modularized__outcome-label-wrapper {
			color: $outcome-highlighted-label-text-color;
			text-shadow: none;
		}

		.modularized__outcome-odds {
			&.up {
				&:before {
					color: $outcome-highlighted-odds-up-icon-text-color;
				}
				&.trend {
					&:before {
						color: $outcome-highlighted-odds-trend-icon-text-color;
					}
				}
			}

			&.down {
				&:before {
					color: $outcome-highlighted-odds-down-icon-text-color;
				}
				&.trend {
					&:before {
						color: $outcome-highlighted-odds-trend-icon-text-color;
					}
				}
			}
		}
	}

	&.modularized__suspended,
	&.modularized__suspended:active {
		@extend %outcome-button-suspended-common;
		.outcome-odds {
			display:none;
		}
	}
}

// Locked state, used for bet offers on event with state STARTED
.modularized__outcomes-container {
	&.locked {
		.modularized__outcome {
			@extend %outcome-button-suspended-common;
			.outcome-odds {
				display:inline-block;
				color: $outcome-locked-label-text-color;
				text-shadow: none;

				&.up {
					&:before {
						display: none;
					}
				}

				&.down {
					&:before {
						display: none;
					}
				}
			}

			.outcome-label {
				color: $outcome-locked-label-text-color;
			}
		}
	}
}