$minWidth: 280;
$offsetLeftSmallScreen: 72;
$offsetLeftLargeScreen: 24;
$offsetRight: 24;
$offsetRightLoggedIn: 64;
$triangleIconPadding: 8;
$triangleIconSize: 10;

.breadcrumb {
	position: absolute;
	top: 0;
	left: $offsetLeftSmallScreen * $topx;
	z-index: 1;

	&:not(.breadcrumb--expanded) {
		right: $offsetRight * $topx;

		.header--logged-in ~ & {
			right: $offsetRightLoggedIn * $topx;
		}
	}

	@include max-screen(($minWidth + $offsetLeftSmallScreen + $offsetRight) * $toem) {
		&.breadcrumb--expanded {
			right: $offsetRight * $topx;
			.breadcrumb__list {
				min-width: 0;
			}
		}
	}

	@include min-screen($navigationPanel-trigger) {
		left: $offsetLeftLargeScreen * $topx;
	}

	.no-header-layout & {
		left: $offsetLeftLargeScreen * $topx;
	}
}

.breadcrumb--nav-sub-level:not(.breadcrumb--expanded) {
	.breadcrumb__item--active {
		@include flexbox-supported {
			@include flexbox();
			@include justify-content(flex-start);
		}

		.breadcrumb__link {
			@include transition("color 0.2s ease-out");
			max-width: 90%;
			z-index: 0;

			@include flexbox-supported {
				@include flex(0 1 auto);
				max-width: none;
			}

			@include mouse-hover-style {
				color: $breadcrumb-link-hover-text-color;
			}
			@include mouse-down-style {
				color: $breadcrumb-link-touch-text-color;
			}
		}

		.icon {
			width: ($triangleIconSize + $triangleIconPadding) * $topx;
			position: relative;
			display: block;

			@include flexbox-supported {
				@include flex(0 0 auto);
			}
			@include triangle("down", ($triangleIconSize / 2) * $topx, $breadcrumb-triangle-color, "right", "after") {
				top: 50%;

				.no-header-layout & {
					border-top-color: $breadcrumb-no-header-triangle-color;
				}
			}
		}
	}
}

.breadcrumb--nav-top-level {
	.breadcrumb__link {
		cursor: default;
	}
}

.breadcrumb__list {
	@include transform("translate3d(0, 0, 0)");
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.breadcrumb__item {
	display: none;

	.icon {
		display: none;
	}
}

.breadcrumb__item--active {
	display: block;
}

.breadcrumb__link,
.breadcrumb__link:active {
	font-size: $font-size-xlarge;
	line-height: 64px;
	text-decoration: none;
	color: $breadcrumb-link-text-color;
	position: relative;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	@include min-screen($navigationPanel-trigger) {
		font-size: $font-size-kilo;
	}

	&:focus {
		outline: 0;
	}
}

.breadcrumb--expanded {
	.breadcrumb__list {
		@include border-radius(2px);
		@include box-shadow($breadcrumb-expanded-list-box-shadow);
		@include transition("transform 0.2s ease-out");
		@include transform("translate3d(0, 3px, 0)");
		background-color: $breadcrumb-expanded-list-background-color;
		padding: 8px 0;
		margin: 13px 0 0;
		min-width: 280px;
	}

	.breadcrumb__item {
		display: block;
	}

	.breadcrumb__link {
		@include transition(background-color 0.15s ease-out);
		font-size: $font-size-normal;
		color: $breadcrumb-expanded-link-text-color;
		line-height: 48px;
		padding: 0 16px;
		background-color: $breadcrumb-expanded-link-background-color;
		
		@include mouse-hover-style {
			background-color: $breadcrumb-expanded-link-hover-background-color;
		}
		@include mouse-down-style {
			background-color: $breadcrumb-expanded-link-touch-background-color;
		}
	}
}


/* Styles for old legacy breadcrumb */
.breadcrumb--legacy {
	position: relative;
	width:100%;
	height: 34px;	
	overflow: visible;
	border-bottom: $breadcrumb-border-bottom;
	left: 0;
	right: 0;
	padding: 0 10px;

	.breadcrumb__list {
		display: table;
		@include flexbox-supported {
			@include flexbox();
			@include justify-content(flex-start);
		}		
	}

	.breadcrumb__link,
	.divider {
		display: table-cell;
		text-decoration: none;
		color: $breadcrumb-text-color;
		font-size: $font-size-micro;
		font-family: $font-family-narrow;
		line-height: 34px;
	}

	.breadcrumb__link {
		@include flexbox-supported {
			@include flex(0 1 auto);

			&:first-child,
			&:last-child {
				@include flex(0 0 auto);
			}
		}

		@include mouse-hover-style {
			text-decoration: underline;
		}
		@include mouse-down-style {
			text-decoration: underline;
		}
	}

	.divider {
		@include flexbox-supported {
			@include flex(0 0 auto);
		}

		padding: 0 5px;
	}
}
