.modularized__add-to-betslip-btn {
	@include border-radius($btn-addtobetslip-border-radius);
	@include box-shadow($btn-addtobetslip-box-shadow);
	@include text-shadow($btn-addtobetslip-text-shadow);
	@include gradient-linear-vertical($btn-addtobetslip-background-gradient...);

	@include mouse-hover-style {
		@include gradient-linear-vertical($btn-addtobetslip-hover-background-gradient...);
	}
	@include mouse-down-style {
		@include gradient-linear-vertical($btn-addtobetslip-touch-background-gradient...);
	}

	border: $btn-addtobetslip-border;
	color: $btn-addtobetslip-text-color;

	&.disabled {
		@include gradient-linear-vertical($btn-addtobetslip-disabled-background-gradient...);
		color: $btn-addtobetslip-disabled-text-color;
		border: $btn-addtobetslip-disabled-border;

		@include mouse-hover-style {
			@include gradient-linear-vertical($btn-addtobetslip-disabled-background-gradient...);
		}
		@include mouse-down-style {
			@include gradient-linear-vertical($btn-addtobetslip-disabled-background-gradient...);
		}
	}
}