{{#each groups}}
	<li class="navigation-menu__section-link">
		<a href="{{url}}" class="navigation-menu__section-link-anchor js-nav-link {{extraClassName}}" title="{{title}}" data-group-id="{{id}}" data-tracking="{{trackingSignature}}" data-touch-feedback="true">
			<span class="navigation-menu__section-link-event-label">{{toUpperCase name}}</span>
			{{#if localizedGroupPath}}<span class="navigation-menu__section-link-event-path">{{localizedGroupPath}}</span>{{/if}}
			<span class="navigation-menu__section-link-event-count" title="{{title}}">{{boCount}}</span>
		</a>
	</li>
{{/each}}