.modularized__most-popular__details {
	padding: 10px 20px;
	background: $event-group-header-background-color;
	border-top: 0;

	&.hide-stake-selection {
		.stake-label,
		.stake-selector {
			visibility: hidden;
		}
	}
}

.modularized__popular-potential-payout {
	color: $mostpopular-potential-payout-text-color;
	font-family: $font-family-primary-large;
}


.modularized__popular-details-label {
	overflow: hidden;
	color: $mostpopular-details-label-text-color;
	margin: 10px 0;

	> span {
		font-size: $font-size-milli;
	}

	> span:first-child {
		float: left;
	}
	> span:last-child {
		float: right;
	}
}

.modularized__popular-details-value {
	height: 50px;
	padding-bottom: 10px;

	line-height: 40px;
	color: $mostpopular-details-value-text-color;
	font-size: 22px;
	font-weight: bold;
	> span {
		float:right;
	}
}