// Hello World Overrides
.modularized__hello-world {
	// Dummy import
}

// Hello World
.modularized__hello-world {
	background: white;
	margin: 0 5px;
	padding: 5px 10px;
}

.modularized__hello-world-items-list {
	list-style: none;
	padding: 0;
}

.modularized__hello-world-item {
	border-bottom: 1px dotted lightgray;
}