.modularized__group-link {
	display: block;
	padding: 0 10px;
	line-height: 40px;
	font-weight: bold;
	font-size: $font-size-normal;
	font-family: $font-family-narrow;
	text-decoration: none;
	color: $startpage-event-group-link-text-color;
}
