.modularized__event-groups__list-item {
	line-height: 0;
	padding: 0;
	cursor: pointer;
	border-bottom: $startpage-event-group-border-bottom;
	background: $startpage-event-group-background-color;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	.group-link {
		line-height: 40px;
		font-weight: bold;
		font-size: $font-size-normal;
		font-family: $font-family-narrow;
		text-decoration: none;
		color: $startpage-event-group-link-text-color;
	}

	@include transition("background-color 0.1s ease-out");
	@include mouse-down-style {
		background-color: $startpage-event-group-touch-background-color;
	}
	@include mouse-hover-style {
		background-color: $startpage-event-group-hover-background-color;
	}

	.group-link_path {
		color: #888;
		font-size: $font-size-micro;
		font-family: $font-family-primary;
		padding-left: 10px;
		vertical-align: baseline;
	}
}
