Coupon ID: {{ id }}
{{#if isAwaitingApproval}}Awaiting approval...{{/if}}
{{#if stake}}
	<div>
	Stake: {{ formatCurrencyWithSymbolMilli stake }}
	Odds: {{ formatOdds playedOdds }}
	</div>
	<div>
	Potential payout: {{ formatCurrencyWithSymbolMilli potentialPayout }}
	</div>
{{/if}}
<div class="bet-feedback__outcomes">
</div>
{{#if cashInAmount}}
	{{#unless isAwaitingApproval}}
	<div class="bet-feedback-coupon__cash-in-wrapper">
		<button class="bet-feedback-coupon__cash-in js-cash-in">{{formatCurrencyWithSymbolMilli cashInAmount}}</button>
	</div>
	{{/unless}}
{{/if}}