.modularized__large-btn {
	font-size: $font-size-large;
	font-family: $font-family-narrow;
	font-weight: bold;
	line-height: 35px;
	padding-top: 2px;
	height: auto;
	width: 90%;
	display:block;
	margin:10px auto;

	@include transition(background-color 0.15s ease-out);
	&.disabled {
		@include box-shadow(none);
		@include text-shadow(none);
		cursor: default;
	}
}