// Navigation list header
.navigation-menu__section-header {
	font-weight: normal;
	font-size: $font-size-nano;
	margin: 12px 0 0 0;
	color: $navigation-header-text-color;
	padding: 0 11px 0 14px;
	letter-spacing: 1px;
	line-height: 30px;

	.navigation-menu__section--browse & {
		@extend .visuallyhidden;
	}
}
