.modularized__event-group-show-more {
	@include transition("background-color 0.2s ease-out, color 0.2s ease-out");
	background-color: $event-group-showmore-background-color;
	border:0;
	border-top: $event-group-showmore-border-top;
	cursor: pointer;
	display: block;
	font-size: $font-size-micro;
	font-weight: bold;
	margin: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	color: $event-group-showmore-text-color;
	padding: 16px 10px 14px;


	&:after {
		content: " ...";
	}

	&:active:hover {
		background-color: $event-group-showmore-background-color;
	}

	> span {
		display: inline-block;
		padding: 0;
		position: relative;

		&:after {
			border: 0;
			content: " ...";
		}
	}

	@include mouse-hover-style {
		background-color: $event-group-showmore-hover-background-color;
		color: $event-group-showmore-hover-text-color;
	}

	@include mouse-down-style {
		background-color: $event-group-showmore-touch-background-color;
		color: $event-group-showmore-hover-text-color;
	}
}

.group-list-widget{
	.modularized__event-group-show-more {
		color: #888;
		border: 0;
	}
}

/* LRN Widget */
.live-right-now-widget {
	.modularized__event-group-show-more {
		@include icon-content-W7P($icon-arrow-fwd-W7P);
	}
}