.modularized__outcomes-container--three-column {
	padding-left: 5px;

	.modularized__column-left {
		margin-left: -2px;
		margin-right: 1px;
		width: 33.33%;
	}

	.modularized__column-middle {
		margin-right: 1px;
		width: 33.33%;

		span.outcomes-container__title {
			padding-left:0px;
		}
	}

	.modularized__column-right {
		width: 33.33%;

		span.outcomes-container__title {
			padding-left:0px;
		}
	}
}