.navigation-menu-view {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: $navigation-width * $topx;
	background: $navigation-background-color;
	padding: 25px 0 20px 0;
	display: none;
	z-index: 150;

	.touch & {
		position: fixed;
		bottom: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.account-page-active & {
		right: auto!important;
	}
}

.multi-column-layout {
	@include min-screen($navigationPanel-trigger) {
		.navigation-menu-view {
			display: block;
		}
	}
}

.no-touch {
	.navigation-menu-view {
		padding-top: 27px;
	}
}
