<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title></title>
</head>
<body>

	<div class="settings-override-wrapper">
		<div class="settings-override">
			<div class="settings-override__list">
				<h3 class="settings-override__title"><%= title %></h3>

				<% _.each( options, function(option) { %>
					<input type="radio" class="settings-override__item-input" name="settings_override" id="settings_override_<%= option.value %>"
						value="<%= option.value %>" />

					<label class="settings-override__item" for="settings_override_<%= option.value %>">
						<%= option.label %>
					</label>
				<% }); %>
			</div>

			<div class="settings-information">
				<p class="settings-information__body"><%= informationLabel %></p>
				<a href="#" class="settings-information__confirmation"><%= confirmationLabel %></a>
			</div>
		</div>
	</div>

	<div class="placebet-container" data-touch-feedback="true">
		<button class="placebet-container__place" data-button-id="<%= id %>">
			<span class="placebet-container__place-label"><%= placeBetLabel %></span>
			<span class="placebet-container__place-action"><%= actionLabel %></span>
		</button>
		<button class="placebet-container__open"></button>
	</div>
</body>
</html>
