.modularized__outcome {
	min-width: 45px;
}

.modularized__outcome-odds {
	position: inherit;
	display: inline;
	right: 0px;
	margin: 0;
	padding: 0;
	float: none;
	font-size: 12px;
	padding: 6px 14px 7px !important;
}