<div class="modularized__most-popular__spinner modularized__js-most-popular__spinner"></div>
<ul class="modularized__most-popular__labels">
	<li class="modularized__most-popular__label">{{getTranslation labelLeft}}</li>
	<li class="modularized__most-popular__label">{{getTranslation labelMiddle}}</li>
	<li class="modularized__most-popular__label">{{getTranslation labelRight}}</li>
</ul>
<ul class="modularized__event-list modularized__js-event-list"></ul>
<div class="modularized__most-popular__details modularized__js-most-popular__details"></div>